<!-- <body> -->

<div class="container"> 
    <img [src]= "pro.gameImage" alt="My Image">
<div class="bottom"> 

<div class="table">    
    
    <p>{{ pro.name}}</p>

</div>

<div class="table2">    
    
    <p>{{ pro.price}}</p>

</div>
<div class="table3"> 
<label>
    
    <input type="checkbox" [(ngModel)]="pro.checkout" (change)="sendNotification()" />

    
    Check
</label>
</div>
</div>
</div>
<!-- </body> -->
 
<!-- CopyEdit
<p>שלום, אני הקומפוננטה הילדית. השם הוא: {{ studentName }}</p>
<button (click)="sendNotification()">שלח הודעה להורה</button> -->
