body{
    margin:  auto;
    padding: 2rem;
    position: relative;
    float: left;
    width: 700px;
    height: 350px;
    border: 2px solid #333; 
    background-color: #f9f9f9;
}
.container {
  padding: 0rem;
  margin: 1rem;
  width: 300px;
  height: 420px;
  float: left;  
     
  border: 2px solid #333; 
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9; 
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
   
  }
  .container .bottom{
    display: flex; 
    align-items: flex-end;
    justify-content: space-between;
  }
   img{
    
  float: left;
  width: 100%;
  height: 370px;       
  object-fit: cover;
  object-position: center;
  }
 .container .bottom .table {
        flex-grow: 1;
        flex-basis: auto;
        width: 100px;
        height: 50px;
         text-align: start; 
        bottom: 0;
        border: 2px solid #333;

        
}
 .container .bottom .table2 {
        width: 50px; 
        height: 40px;
        border: 2px solid #333;
        padding: 5px;
 }
  .container .bottom .table3 {
        height: 40px;
        width: 80px; 

        border: 2px solid #333;
        padding: 5px;
}







